<div class="posts">
    {% unless paginator.posts %}
        <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginator.posts %}
        {% if post.collection == 'microblog' %}
            <div class="post-teaser">
                <span>
                    <header>
                        <h1>
                            {% assign date = post.date | default: "today" | date: site.data.language.str_date_format | default: '%B %-d, %Y' %}
                            {% assign x = date | date: "%m" | minus: 1 %}
                            {{ date | date: "%A," }} {{ site.data.language.str_months[x] | default: date | date: "%B" }} {{ date | date: "%d, %Y" }}
                        </h1>
                    </header>
                    {% if site.excerpt or site.theme_settings.excerpt %}
                        <div class="excerpt">
                            {{ post.content }}
                        </div>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <div class="post-teaser">
                {% if post.thumbnail %}
                    <div class="post-img">
                        <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                            <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
                        </a>
                    </div>
                {% endif %}
                <span>
                    <header>
                        <h1>
                            <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title }}
                            </a>
                        </h1>
                        {% include blog/post_info.liquid author=post.author date=post.date %}
                    </header>
                    {% if site.excerpt or site.theme_settings.excerpt %}
                        <div class="excerpt">
                            {% if site.excerpt == "truncate" %}
                                {{ post.content | strip_html | truncate: '250' | escape }}
                            {% else %}
                                {{ post.excerpt | strip_html | escape }}
                            {% endif %}
                            <p><a class="post-link" href="{{ post.url | relative_url
                                         }}">&rarr;&nbsp;Read
                                         more...</a></p>
                        </div>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
