/* TYPOGRAPHY */
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-logo: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;

/* PADDING */
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;
$title-padding: 1%;
$feature-image-padding: 10%;

/* MOBILE */
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 320px;

/* THEME COLOR SCHEMES */
html, html[data-theme="light"] {
  --background: #ffffff;
  --blockquote: #eef7fa;
  --selection: #d4d4d4;
  --meta: #595959;
  --link: #0072B5;
  --header-background: #24292e;
  --header-text: #ffffff;
  --header-link: #383838;
  --code-background: #E0E0E0;
  --code-inline: #24292e;
  --text-shadow: #3f3f3f;
  --text: #262626;
  --h1: #262626;
  --h2: #262626;
  --h3: #262626;
  --h4: #262626;
  --h5: #262626;
  --h6: #262626;
  --border: rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] {
  --background: #22272e; // brand, background
  --blockquote: #373e47; // blockquote
  --selection: #545d68; // selection
  --meta: #909dab; // meta
  --link: #00a8e0; // theme, link, link shadow header bg
  --header-background: #2A3444; // Color before header image load
  --header-text: #e7f3f4; // header text, feature img text
  --header-link: #adbac7; // header link, search color
  --code-background: #2A3444;
  --code-inline: #d9b600;
  --text-shadow: #2d333b; // text shadow
  --text: #cdd9e5; // text
  --h1: #d40059; // headers
  --h2: #b37eff;
  --h3: #ff66c2;
  --h4: #00af9e;
  --h5: #6bac00;
  --h6: #ff5c00;
  --border: rgba(255, 255, 255, 0.5); // border
  --cusdis--color-text-default: var(--text);
  --cusdis--color-comment-username-text: var(--link);
}

/* BASE16 CODE HIGHLIGHT */
// Dracula theme
html, html[data-theme="light"], html[data-theme="dark"] {
  --base00: #282936; // Default Background
  --base01: #3a3c4e; // Lighter Background (Used for status bars, line number and folding marks)
  --base02: #4d4f68; // Selection Background
  --base03: #626483; // Comments, Invisible, Line Highlighting
  --base04: #62d6e8; // Dark Foreground (Used for status bars)
  --base05: #e9e9f4; // Default Foreground, Caret, Delimiters, Operators
  --base06: #f1f2f8; // Light Foreground (Not often used)
  --base07: #f7f7fb; // Light Background (Not often used)
  --base08: #ea51b2; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
  --base09: #b45bcf; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
  --base0a: #00f769; // Classes, Markup Bold, Search Text Background
  --base0b: #ebff87; // Strings, Inherited Class, Markup Code, Diff Inserted
  --base0c: #a1efe4; // Support, Regular Expressions, Escape Characters, Markup Quotes
  --base0d: #62d6e8; // Functions, Methods, Attribute IDs, Headings
  --base0e: #b45bcf; // Keywords, Storage, Selector, Markup Italic, Diff Changed
  --base0f: #00f769; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
}
